html, body {
    height: 100%;
}

/*main>.container {
    padding: 60px 15px 0;
}*/

.footer {
    background-color: #FFAEC9;
    /* #fdb6e0 */
    color: white;
}

/*.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}*/

/*code {
    font-size: 80%;
}*/

/* 
------------------
    Paginação
------------------ 
*/

.pagination li {
    border-bottom: 1px solid #FFAEC9;
}

.pagination a {
    border: none;
    color: #FFAEC9;
    transition: 0.7s ease;
}

.pagination a:focus {
    outline: none;
    box-shadow: none;
}

.pagination a:hover {
    background: #FFAEC9;
    color: white;
}

.page-item:first-child .page-link, .page-item:last-child .page-link, .pagination-lg .page-item:first-child .page-link, .pagination-lg .page-item:last-child .page-link {
    border-radius: 0px;
}

/* 
------------------
    Navegação
------------------ 
*/

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: #FFAEC9;
}

#header-nav li.nav-item {
    transition: 0.7s ease;
    border-bottom: 1px solid #57a8ff;
    padding: 4px 9px;
}

#header-nav li.nav-item a {
    color: #57a8ff;
    transition: 0.5s ease;
}

#header-nav li.nav-item:hover {
    background: #57a8ff;
    /* border-color: white; */
}

#header-nav li.nav-item:hover a {
    color: white;
}

#header-nav .active {
    background: #57a8ff;
}

#header-nav .active a {
    color: white !important;
}

/* 
------------------
    Navegação
    Inventário
------------------ 
*/

#tags-nav li.nav-item {
    transition: 0.7s ease;
    border-bottom: 1px solid #FFAEC9;
    padding: 4px 9px;
}

#tags-nav li.nav-item a {
    color: #FFAEC9;
    transition: 0.5s ease;
}

#tags-nav .active, #tags-nav .show {
    background: #FFAEC9;
}

#tags-nav .active a, #tags-nav .show a {
    color: white !important;
}

#tags-nav li.nav-item:hover {
    background: #FFAEC9;
    /* border-color: white; */
}

#tags-nav li.nav-item:hover a.n {
    color: white;
}

#tags-nav .show>.nav-link {
    background: none;
    color: none;
}

#tags-nav .dropdown-item:hover {
    background: white;
    color: #FFAEC9 !important;
}

#tags-nav .dropdown-menu {
    width: 100%;
    border-radius: 0;
    border: none;
    left: -9px !important;
    top: 2px !important;
    border-top: 1px solid white;
}

#tags-nav .dropdown-menu a {
    word-wrap: break-word;
    white-space: normal;
}

/* ul {
    border-bottom: 1px solid #57a8ff;
} */

/* 
------------------
    Flip Card
------------------ 
*/

.card-flip>div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

.heart {
    color: #FFAEC9;
    transition: 0.5s ease;
}

.heart:hover {
    color: #57a8ff;
}

/* 
------------------
    Album
    Card
------------------ 
*/

#album .card-img-top {
    max-width: 300px;
    max-height: 250px;
}

#inventario .card-img-side {
    width: 150px;
    height: 150px;
    object-fit: none;
    border: 1px solid black;
}

#inventario .card-img-side-back {
    border-radius: 100%;
    object-fit: contain;
}